<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
		<script  src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script  src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	</head>
	<body>
		<a href="?usi=mzspec:PXD015890:18May18_Olson_WT2.raw%20(F001551).mzid_18May18_Olson_WT2.raw_(F001551).MGF:index:6913:AEAEAQAEELSFPR/2&amp;usi_origin=pride">Example (Pride)</a>
		<table id="example" class="hover" style="width:100%">
			<thead>
				<tr>
					<th>usi</th>
					<th>use</th>
					<th>peptideSequence</th>
					<th>charge</th>
					<th>precursorMZ</th>
					<th>decoy</th>
					<th>valid</th>
					<th>Link</th>
					<th>test</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Spectraevidences}}
				<tr>
					<td>{{ .Usi }}</td>
					<td><a href = "{{ .UsiLink  }}"> Visit USE</a></td>
					<td>{{ .PeptideSequence }}</td>
					<td>{{ .Charge }}</td>
					<td>{{ .PrecursorMZ }}</td>
					<td>{{ .Decoy }}</td>
					<td>{{ .Valid }}</td>
					<td><a href="{{ .Links.Self.Href }}"> Link</a></td>
					<td><a href="https://www.proteomicsdb.org/use_dev/?usi=mzspec:PXD000561:Adult_Frontalcortex_bRP_Elite_85_f09:scan:17555:VLHPLEGAVVIIFK/2&usi_origin=peptideatlas"> Dangerous</a></td>
				</tr>
				{{ end}}
			</tbody>
		</table>
		<script>
			console.log("test");
$(document).ready(function() {
	$('#example').DataTable();
} );
		</script>
	</body>

</html>
