name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: submodules!
      uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go

    - name: Get dependencies
      run: |
        go get github.com/rakyll/statik
        go get github.com/josephspurrier/goversioninfo/cmd/goversioninfo
        go generate ./...
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Build
      run: make build

    - name: Test
      run: go test -v .

    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: my-artifact
        path: builds/

